*{
  padding:0px;
  margin:0px;
}

body{
   font-family:Arial;
    }
#map{
    z-index:1000;
    }
#controls{
    width:350px;
    background-color : blue;
    border-radius:10px;
    position:absolute;
    z-index: 1001;
    }
#osm_layer, #steman_layer{
     /*padding : 10px;*/
    }
#layers{
    padding:20px;
    padding-left:30px;
    }
#toggle_window{
  position:absolute;
  right:0px;
}